#currentWeatherSpec {
    margin : 0;
}

#currentWeather_data {
    display:flex;
}

#currentWeather_container {
    display:flex;
    justify-content:center;
}

#currentWeather_box {
    display: flex;
    width: 100%; 
    height: 17rem;
    border-radius: 1rem;
    background-color: white;
    position: relative;
    font-size: 1.4rem;
}

#currentWeather_header {
    margin-left: 10%; 
    position: relative;
    top: 10%;
    width:100%;
}

#currentWeather_image_container {
    display: flex; 
    align-items: center;
    position: relative;
    margin-left: 5%;
}

#currentWeather_desc_container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    width:20rem;
}

#currentWeather_list_container {
    list-style:none
}

.currentWeather_list_item {
    text-align:right
}

.currentWeatherImage {
    height:150px;
    width:150px;
}
@media (min-width:767px) and (max-width:1024px) {
    #currentWeather_image_container img {
        height:100px;
        width:100px;
    }

    #currentWeather_desc_container {
        margin-left:5%;
    }
}
@media (min-width:0px) and (max-width:766px) {
    #currentWeather_image_container img {
        height:50px;
        width:50px;
    }

    #currentWeather_data{
        margin-left:1.5rem;
    }

    #currentWeather_box {
        height: 10rem;
        font-size: 2rem;
        display: flex;
        flex-direction:column;
        background: rgba(255,255,255,0.4);
        color:white;
    }

    #currentWeather_desc_container{
        margin-left:0;
    }

    #currentWeather_desc_container ul {
        padding-left:1rem;
    }

    .currentWeather_list_item{
        font-size: 0.9rem;
    }

    #currentWeather_header {
        font-size: 1.0rem;
        margin-bottom:0;
    }
}