#searchForm{
 /*   position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex; */

}

#searchContainer{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items:center;

}

#logoPic{
    height: 7rem;
    margin-bottom: 2rem;
}

#submitButton {
    background:#020246;
    border:#020246 1px solid;
    transition: ease-in 0.25s;
    color:white;
    margin-left:1rem;
    display:none;
}

#submitButton:hover {
    background:white;
    border: #020246 1px solid;
    color:#020246;
    cursor:pointer;

}
#cityInput {
    padding: 1rem;
    width: 20rem;
    border-radius: 5rem;
    border:none;
}
@media (min-width:0px) and (max-height:766px) {
    #submitButton {
        border-radius: 2rem;
    }

    #cityInput {
        width:15rem;
        height: 0.5rem;
    }

    #logoPic {
        height:5.99rem;
    }
}

