body {
  /*margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("components/Images/clouds.jpg");
  background-position:center top;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  box-shadow: inset 0 0 0 1000px rgba(36, 70, 105, 0.74);*/
  border: 1px solid transparent;
  padding-bottom: 90px;
}

html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("components/Images/cloudLayer.png");
  background-position:center top;
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width:0px) and (max-width:766px) {
  body {
    overflow-x:hidden;
  }
}